/* Header Styles */
header {
    background-color: #333; /* Dark background color */
    color: white; /* Default text color for header */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .developer-name {
    font-size: 1.5rem;
    margin: 0;
  }
  
  /* Navigation Styles */
  nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
  }
  
  nav ul li a{
    display: inline;
    color: #ffffff;
    font-size: 1.3rem;
  }
  nav ul li a.active {
    font-weight: bold; /* Make the active link bold */
    color: #61dafb; /* Change color for the active link */
  }
  
  